.container {
  width: 1200px;
}
nav{
  text-decoration: none;
  font-size: 18px;
  width: 50%;
  text-align: right;


}
nav a {
  padding-right: 16px;
  text-decoration: none;

  color: black;
}
.header h1 img{
  height: 32px;
  vertical-align: middle;
}
.header h1 span{
  font-weight: bold;
  font-size: 24px;
  color: black;
  height: 64px;
}
.header h1 {
  text-align: left;
  font-weight:normal;
  color: grey;
  width: 50%;
  font-size: 24px;
}
.header{
  height: 64px;
  padding: 0 24px;
  display: flex;
  align-items: left;
}
.flex-container {
  display: flex;
  justify-content: left;
  flex-flow: column nowrap;
}
.main{
  background-color: lightgrey;
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.col-1{
  width:60%;
  flex-basis:700px;
  flex-flow: row wrap;
}
.col-1 img{
  /* display:inline-block; */
  width:inherit;
  padding: 32px 24px;
  display: block;

}
.main.learn p {
  /* text-align:left;  */
  font-size:20px;
}
.col-2{
  display: flex;
  flex-flow: column wrap;
  width: 320px;
  float: right;

}

h1{
  font-size:32px
}

button{
  padding: 8px 0;
  background-color: #4d4d4d;
  width:100%
}
